{% load ndf_tags %}
{% load i18n %}
 
{% get_group_name groupid as group_name_tag %}
{% user_access_policy groupid request.user as user_access %}
{% get_attribute_value node.pk 'release_response' as resp_val %}
{% get_attribute_value node.pk 'thread_interaction_type' as thr_int_type %}
{% check_is_gstaff groupid request.user as is_gstaff %}
<script src="/static/ndf/js/MediaStreamRecorder.js"></script> 
  <script src="/static/ndf/js/adapter.js"></script> 
 <a class="close-reveal-modal" aria-label="Close">&#215;</a>
 <!--
> Muaz Khan     - https://github.com/muaz-khan
> MIT License   - https://www.webrtc-experiment.com/licence/
> Documentation - https://github.com/streamproc/MediaStreamRecorder
> =================================================================
> audio-recorder.html
-->
  <!-- <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script> 
   <script src="/static/ndf/bower_components/recordrtc/dev/MediaStreamRecorder.js"></script> 
    <! for Edige/FF/Chrome/Opera/etc. getUserMedia support 
    <!<script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script> -->


   <!--  <h1>
        <div id="timer">2:00</div>
    </h1> -->
    
      <i class="fi-info"></i>You can record audio for max 30 seconds.!<br>{{node.pk}}
    
    <div class="center btn-group">
        <label style="display:none!important" for="time-interval hidden">Time Interval (milliseconds):</label>
        <input  style="display:none!important" type="text" id="time-interval" value="30000 ">

        <button id="start-recording">Start</button>
        <button id="stop-recording" disabled>Stop</button>

        <button style="display:none!important" id="pause-recording" disabled>Pause</button>
        <button style="display:none!important" id="resume-recording" disabled>Resume</button>

        <button id="save-recording" disabled onclick="addReply()">Save</button>

        <br><br>


        <input style="display:none!important"  id="left-channel" type="checkbox" checked style="width:auto;">
        <label style="display:none!important" for="left-channel">Only Left Channel?</label>
    </div>

    <div id="audios-container"></div>
<div>
  <br/>
    {% if allow_to_comment %}
      <div class="create-discussion">
      <div  onclick="createDiscussion()" id="create-discussion" data-id="{{ node.pk }}"  class="ckeditor-comment  button small radius" style="margin-bottom:0;">
        {% if thr_int_type %}
          {{thr_int_type}} {% if all_replies|length > 0 %}({{all_replies|length }}) {% endif %}
        {% else %}
          Comment  {% if all_replies|length > 0 %} ({{all_replies|length }}) {% endif %}
        {% endif %}
      </div>
      <div class="discussion-refresh right">
        <small><a onclick="location.reload()">Refresh <i class="fi-refresh"></i></a></small>
      </div>
    {% endif %}
    </div>

    {% comment %}
    {% if sg_type != "Event" %}
      <input type="file" id="uploaded-files" style="" value="" multiple>
    {% else %}
      <input type="file" id="uploaded-files" style="" value="" multiple class="hide">
    {% endif %}
    {% endcomment %}
    <input type="hidden" id="prior-node" style="visibility:hidden" value="">

    <input type="hidden" id="currently-edited-row" data-edited-row-id="" data-edited-row-name="">
    <input type="hidden" id="last-edited-row" data-edited-row-id="">

  <div id="replies-area">

    <!-- populating replies -->

    {% for each_reply in all_replies %}
      {% if resp_val == True or is_gstaff or request.user.id == each_reply.userid %}
      <div class="content" content-reply-id="{{ each_reply.oid }}" data-reply-level="{{each_reply.level}}" data-userid="{{each_reply.userid}}" >
        <div style="margin-left:calc(({{each_reply.level}} - 1) * 48px); {% if each_reply.level == 1 %}margin-top:25px;{% endif %}" class="disc-replies" data-reply-id="{{ each_reply.oid }}" data-priornode-id="{{ each_reply.prior_node }}">
          <div clas="discussion-title row " >
             <div class="discussion-title-username">
              <a  href="{% url 'dashboard' each_reply.userid %}" style="color:#ADABAB !important" title=" {{ each_reply.username }}">
                {{ each_reply.username|truncatechars:12 }} 
              </a>
                <small style="float:right;color:#999999">{{ each_reply.last_update }}</small>
            </div>

            </div>
          <div class="discussion-content" data-reply-id="{{ each_reply.oid }}">
            {{each_reply.HTMLcontent|safe }}
          {% for node in each_reply.collection_set  %}
            <div style="margin: 1em;">
              <br/>
              {% if node.status == "MODERATION" %}
                  <p>File is under moderation.<br><a href="/{{group_id}}/moderation/status/{{node.pk}}" target="_blank">Click here to check status</a></p>
              {% elif node.status == "DRAFT" %}
                    <p>This File is Rejected by the Moderator.</p>
              {% elif node.status != "MODERATION" %}
                  {# {{node.mime_type}} #}
                  <a class="th" target="_blank" href="{% url 'file_detail' group_id node %}">
                    {% if 'image' in node.mime_type  %}
                        <img style="height:100px;" src="{% url 'getFileThumbnail' group_id node.pk %}" />
                    {% endif %}
                    <p>{{node.name}}</p>
                  </a>

              {% endif %}
            </div>
          {% endfor %}

          </div>
          <div class="discussion-footer">
            <a class="reply-btn reply_res"  data-id='{{ each_reply.oid }}' onclick='openCKEditor($(this),"{{each_reply.oid}}")' data-org-content='{{ each_reply.content }}'>
              <i class="fa fa-reply"></i>
              {% trans "Reply" %} 
            </a>
            {% if request.user.id == each_reply.userid or is_gstaff %}
              <a class="reply-btn delete_res" data-id='{{ each_reply.oid }}' data-userid="{{each_reply.userid}}" onclick="deleteReply($(this))" style="float:right">
                <i class="fa fa-trash-o"></i>
                {% trans "Delete" %}
              </a>
               <a class="reply-btn edit_res" data-id='{{ each_reply.oid }}' data-userid="{{each_reply.userid}}" onclick='editreply($(this))' style="float:right;margin-right:10px!important"> 
                <i class="fa fa-pencil-square-o"></i>
                {% trans "Edit" %} |
              </a>
            {% endif %}
          </div>

        </div>
      </div>
      {% endif %}

    {% endfor %}

    <!-- END of populating replies -->
  </div>

  <!-- orgitdown container -->

  <!-- end of orgit down container -->

</div>
    <script>

    function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
        navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
    }

    var mediaConstraints = {
        audio: true
    };

    document.querySelector('#start-recording').onclick = function() {
        
        this.disabled = true;
        // countdown(1);

        captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
         setTimeout(function(){
          mediaRecorder.stop();
          mediaRecorder.stream.stop();
  
         }, 30000);
    };

    document.querySelector('#stop-recording').onclick = function() {
        this.disabled = true;
        mediaRecorder.stop();
        mediaRecorder.stream.stop();

        document.querySelector('#pause-recording').disabled = true;
        document.querySelector('#start-recording').disabled = false;
    };

    document.querySelector('#pause-recording').onclick = function() {
        this.disabled = true;
        mediaRecorder.pause();

        document.querySelector('#resume-recording').disabled = false;
    };

    document.querySelector('#resume-recording').onclick = function() {
        this.disabled = true;
        mediaRecorder.resume();

        document.querySelector('#pause-recording').disabled = false;
    };

    document.querySelector('#save-recording').onclick = function() {
        this.disabled = true;

       
        // mediaRecorder.save();
    };

    var mediaRecorder;

    function onMediaSuccess(stream) {
        var audio = document.createElement('audio');

        audio = mergeProps(audio, {
            controls: true,
            muted: true,
            src: URL.createObjectURL(stream)
        });
        audio.play();

        audiosContainer.appendChild(audio);
        audiosContainer.appendChild(document.createElement('hr'));

        mediaRecorder = new MediaStreamRecorder(stream);
        mediaRecorder.stream = stream;
        mediaRecorder.mimeType = 'audio/ogg';
        mediaRecorder.audioChannels = !!document.getElementById('left-channel').checked ? 1 : 2;
        mediaRecorder.ondataavailable = function(blob) {
/*****************************************************************************************************************************************************/ 
/******************************************** Saurabh's Implementation to save blob **********************************************/ 
            
            $("#save-recording").click(function(){
                          var d = new Date();
                          timeStamp = d.getTime();
                          timeStamp = timeStamp.toString();
                         

                          //alert(timeStamp);
                          console.log(blob);
                          
                         
                      // Create a new FormData object.
                      var formData = new FormData();


                        // // Check the file type.
                        // if (!file.type.match('image.*')) {  continue; }

                        // Add the file to the request.
                        formData.append('doc[]', blob, timeStamp);//passing timestamp as file name

                      // appending csrfmiddlewaretoken and user-id
                      formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
                      formData.append('user','{{request.user.id}}');

                      // Set up the request.
                      xhr = new XMLHttpRequest();

                      // Open the connection.
                      xhr.open('POST', "{% url 'save_image' group_id %}", true);

                      // Set up a handler for when the request finishes sucessfully.
                      xhr.onload = function () {

                        if (xhr.status === 200)
                        {
                          // File(s) uploaded.
                         // if file is not uploaded sucessfully
                          if(xhr.responseText == "UploadError")
                          {
                             alert("Error occurred");
                          }
                          // check if image is not in the list, add it.
                          else if(xhr.responseText.length == 24 )
                          {
                              addReply($(this));
                              obj_id = parseInt(xhr.responseText);
                              // var completeURL = "/" + "{{group_id}}" + "/file" + "/readDoc" + "/" + xhr.responseText + "/" + timeStamp;
                              //             CKEDITOR.instances['ckeditor_textarea'].insertHtml('<audio controls> <source src="'+ completeURL +'" type="audio/ogg"></audio>');
                              //                $(".btn-group").remove();
                              //                $("#audios-container").remove();
                              //                $('#group_imgs_on_modal').foundation('reveal', 'close');


                          }

                          // updating metadata of files, if file is uploaded sucessfully
                          // if(xhr.responseText != "UploadError")
                          // {
                          //   // alert('xhr.responseText != "UploadError"');
                          // }
                        }
                        else
                        {
                          alert('An error occurred!');
                        }
                      };

                      // Send the Data.
                      xhr.send(formData);


            });
/*****************************************************************************************************************************************************/ 
            a.href = URL.createObjectURL(blob);

            audiosContainer.appendChild(a);
            audiosContainer.appendChild(document.createElement('hr'));
        };

        var timeInterval = document.querySelector('#time-interval').value;
        if (timeInterval) timeInterval = parseInt(timeInterval);
        else timeInterval = 5 * 1000;

        // get blob after specific time interval
        mediaRecorder.start(timeInterval);

        document.querySelector('#stop-recording').disabled = false;
        document.querySelector('#pause-recording').disabled = false;
        document.querySelector('#save-recording').disabled = false;
    }

    function onMediaError(e) {
        console.error('media error', e);
    }

    var audiosContainer = document.getElementById('audios-container');
    var index = 1;

    // below function via: http://goo.gl/B3ae8c
    function bytesToSize(bytes) {
        var k = 1000;
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes === 0) return '0 Bytes';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(k)), 10);
        return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
    }

    // below function via: http://goo.gl/6QNDcI
    function getTimeLength(milliseconds) {
        var data = new Date(milliseconds);
        return data.getUTCHours() + " hours, " + data.getUTCMinutes() + " minutes and " + data.getUTCSeconds() + " second(s)";
    }

    window.onbeforeunload = function() {
        document.querySelector('#start-recording').disabled = false;
    };
    </script>

<!--  ***************************Script for displaying replies -->
  <script type="text/javascript">
  // for discussion tab
  // storing ndf_tags return values in JS variables
  var user_access = "{{ user_access }}"; // "allow" or "disallow"
  {% edit_policy groupid node request.user as status %}
  var edit_policy = "{{ status }}"; // "allow" or "disallow"
  var is_user_authenticated = {{ request.user.is_authenticated|lower }};

  function createDiscussion()
  {
    if( is_user_authenticated){
       if(checkCurrEdit()){
           return false;
         }
        $.ajax({
          url: "{% url 'create_discussion' group_id node.pk %}",
          data: {
            'csrfmiddlewaretoken': "{{csrf_token}}"
          },

          type: "POST",

          success: function(data){
            data = JSON.parse(data);
            if( (data[0] == "thread-created") || (data[0] == "Thread-exist") )
            {

                $.ajax({
                        type: "GET",
                        url: "{% url 'get_ckeditor' group_id %}",
                        datatype: "html",
                        data:{
                                'ckeditor_toolbar' : "{{ckeditor_toolbar}}"
                          },
                      success: function(data) {

                            p = $('.ckeditor-comment');

                            p.after('<div class="ckeditor-content-comment"><div class="ckeditor-reply-area"></div> <div class="post-btn-div"></div> </div>');
                                  // '<img width="'+  width + '"src=' + completeURL +  '>' + '</img>'
                                  $('.ckeditor-reply-area').html(data);
                                  $('.post-btn-div').html('<input type="button" value="Post"  class="button small right radius reply-button" onclick="addReply(this)">');

                            setCurrNodeEdit(1);

                      }

                });


                $("#prior-node").val(data[1]) // _id
                // $("input[data-id='{{ node.pk }}']").val("{{ node.pk }}") // _id

                //$("#create-discussion").trigger("click");
              }
              
              else{ alert(data) }
            }//,

        });

    }
  else{
        $("#alertModalLabel").text("Please login to start discussion.");
        // $("#alertModal").addClass("alert");
        $("#alertModal").foundation('reveal', 'open');
        // alert("{% trans 'Login to start discussion' %}");
  }
  }
  // --- END of createDiscussion()
  // function called by "Add Reply" and "Reply" buttons to open editor
  function openCKEditor(sourceObj)
  {
      // console.log(sourceObj);
          if(checkCurrEdit()){
           return false;
         }


          if( is_user_authenticated){
              var sourceObjDataId = $(sourceObj).attr("data-id"); // prior-node _id
            $("#prior-node").val(sourceObjDataId);

              $.ajax({
                              type: "GET",
                              url: "{% url 'get_ckeditor' group_id %}",
                              datatype: "html",
                              data:{
                                      'ckeditor_toolbar' : "BasicToolbar"

                                },
                            success: function(data) {
                                  r = $('.reply-btn[data-id="'+sourceObjDataId+'"]');
                                  p = r.closest('.disc-replies');
                                  parent_div_id = r.closest('.disc-replies').attr("data-reply-id");
                                  parent_obj = $('div[content-reply-id="' + parent_div_id + '"]');
                                  parent_marginleft = p.css("margin-left");
                                  parent_marginleft = (parseFloat(parent_marginleft, 10)) + "px";
                                  post_marginleft = (parseFloat(parent_marginleft, 10) + 100 ) + "px";
                                  p.after('<div class="ckeditor-content-reply" style="margin-left:'+ parent_marginleft +'"><div class="ckeditor-reply-area"></div> <div class="post-btn-div"></div></div>');
                                  // '<img width="'+  width + '"src=' + completeURL +  '>' + '</img>'
                                  $('.ckeditor-reply-area').html(data);

                                  $('.post-btn-div').html('<input data-id=""  type="button" value="Post"  class="button small right radius reply-button" onclick="addReply(parent_obj)">');

                                  setCurrNodeEdit(1);

                            }

                      });
        }
        else{
            alert(" {% trans 'Login to start discussion.' %} ");
        }
  }

  function updateDiscussionTabText()
  {
    var totalReplies = $("#replies-area div.disc-replies:visible").length;
    if(totalReplies == 0)
    {
      $(".view-discussion span").fadeOut().fadeIn().html(" {% trans 'Begin Discussion' %}");
      $("#create-discussion").text("{% trans 'Comment' %}" + $("h1 span.node[itemprop]").text().trim());
    }
    else
    {
      $(".view-discussion span").fadeOut().fadeIn().html("{% trans 'Join Discussion' %}("+totalReplies+")");
    }
  }
  function createReplyHTML(replyStyle, data,child_reply_level)
  {
      var request_user_id = {{request.user.id}};
      var reply_user_id = data[5];
      var oid =  data[1];
      var htmlReply = "<div class='content' content-reply-id='"+ data[1] +"' data-reply-level=' "+ child_reply_level +" ' >"
          + "<div style='"+ replyStyle +"' data-reply-id='"+ data[1] +"' data-priornode-id='"+ data[2] +"' class='disc-replies'>"
              + "<div class='discussion-title row'>"
                  + "<div class='discussion-title-username'>"
                      + "<a style='color:#ADABAB!important;font-size:15px;padding-left:10px!important;'>" + data[6] + "</a><small style='float:right;color:#999999'>"+data[7]+"</small>"
                  + "</div>"
              + "</div>"
          + "<div class='discussion-content' data-reply-id='"+ data[1] +"'>"+ data[3] + "</div>"
          + "<div class='discussion-footer'>"
                + "<a class='reply-btn reply_res'  data-id='" + data[1] + "' onclick='openCKEditor($(this))' data-org-content='"+data[3]+"'>"
               + "<i class='fa fa-reply'></i> Reply"
               + "</a>"
              if (request_user_id == reply_user_id){
                  htmlReply +="<a class='reply-btn delete_res' data-id='" + data[1]+ "'data-userid='"+ data[5] +"' onclick='deleteReply($(this))' style='float:right'><i class='fa fa-trash-o'></i> Delete"
                  htmlReply +="<a class='reply-btn edit_res' data-id='"+ data[1] +"' data-userid='{{each_reply.userid}}' data-userid='"+ data[5] +"' onclick='editreply($(this))' style='float:right;margin-right:10px!important'><i class='fa fa-pencil-square-o'></i> Edit |"
                  }
          +"</div>"   
        +"</div>"
      +"</div>";
    return htmlReply;
  }

  function addReply(sourceObj)
  {

    // var value = CKEDITOR.instances['ckeditor_textarea'].getData();
    var priorNodeId = $("#prior-node").val(),
        replyContent = "hello";
    // alert("priorNodeId"+priorNodeId);

    // If reply is non empty - make ajax to save reply.
    if( (replyContent.length > 0) && (priorNodeId.length == 24) )
    {
      docs_list = new FormData();
      // var all_files = document.getElementById("uploaded-files");
      // var docs_count = all_files.files.length;
      // for(var i = 0; i < docs_count; i++)
      //   {
      //     docs_list.append("upload"+i, all_files.files[i]);
      //     // console.log(all_files.files[i]);
      //   }
      //   docs_list.append('upload_cnt', docs_count)
        docs_list.append('csrfmiddlewaretoken','{{csrf_token}}');
        docs_list.append('reply_text_content', replyContent)
        docs_list.append('prior_node_id', priorNodeId)
      $.ajax({

        type: "POST",
        url: "{% url 'discussion_reply' group_id node.pk %}",
        // data: docs_list,
        processData: false,
        contentType: false,
        success: function(data){
          // $( ".cke_button__closebtn_label" ).trigger( "click" );
            //alert("data"+data);
            //alert("priorNodeId"+priorNodeId)
            data = JSON.parse(data);
            if( data[0] == "reply_saved" )
            {

              $("#orgitdownreps").val("");  // make textarea empty
              if(priorNodeId == "{{ node.pk }}")  // main reply
              {
                
                //sample format of data = [0:"status_info", 1:"reply_id", 2:"prior_node", 3:"html_content", 4:"org_content", 5:"user_id", 6:"user_name", 7:"created_at" ]
                // add reply text content after #replies-area
                var parent_margin_level = $(sourceObj).closest("div").attr("class");
                
                $("#replies-area").prepend(createReplyHTML('margin-top:25px;margin-left:0px', data,1));
                // $(".content").appendChild().(createReplyHTML('margin-top:20px;', data)).fadeIn(8000);
              }
              else  // sub-reply
              {
                parent_margin_level = $(sourceObj).attr("data-reply-level");
                child_margin_level = parseInt(parent_margin_level) + 1;          
                

                $(sourceObj).after(createReplyHTML('margin-left:'+((child_margin_level-1)*48)+'px', data,parseInt(parent_margin_level)+1));

              }
              // updating tab-text
              updateDiscussionTabText();
              
               

     
            }
            else if( data[0] == "no_content" ){

              alert("{% trans 'Please provide the reply content.' %}")
            }
            else { alert(data) }
          }
      });// --- END of ajax to save reply
    }
    else // content is not provided
    {
      // alert(" {% trans 'Please provide the reply content.' %}")
    } // --- END of IF-ELSE
                //  $.ajax({
                //         url: "{% url 'get_gin_line_template' group_id node.pk %}",                        
                //         type: "GET",
                //         datatype: "html",
                        
                //       success: function(data) {
                            
                //             alert(data);
                //             $(".comment-sections:visible").html(data);
                //       }

                // });

  } // --- END of addReply()
  function deleteReply(sourceObj)
  {
    var userid = $(sourceObj).attr("data-userid");
    if( (user_access == "allow" && edit_policy == "allow") || (userid == "{{request.user.id}}") )
    {
      var reply_id = $(sourceObj).closest("div.disc-replies").attr("data-reply-id");
      var nodesToDeleteArr = getChildReplies(reply_id, []);
      nodesToDeleteArr.push(reply_id);  // adding current node's _id
      var deleteConfirm;
      if(nodesToDeleteArr.length > 1)
      {
        deleteConfirm = confirm("{% trans 'Along with this reply, total of' %}: " + nodesToDeleteArr.length + "{% trans 'replies would get deleted.\nClick 'OK' to delete. Else click on 'Cancel'' %} ");
      }
      else
      {
        deleteConfirm = confirm("{% trans 'Are you sure to delete this reply ?\nClick 'OK' to delete.' %} ");
      }
      if(deleteConfirm)
      {
        $.ajax({

          type: 'POST',
          url: "{% url 'discussion_delete_reply' group_id node.pk %}",
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "nodes_to_delete": JSON.stringify(nodesToDeleteArr)
            },
          success: function(data){
            data = typeof(data) == "string" ? JSON.parse(data): data;
            data.forEach(function(reply){
              $("[data-reply-id="+ reply +"]").detach().fadeOut();
            })
            // updating tab-text
            updateDiscussionTabText();
          }
        })
        //end of ajax
      }
    }
    else
    {
      alert("{% trans 'To delete this reply, you need to be login and author of this reply.' %}");
    }
  }
  // recursive function to get child replies
  function getChildReplies(oid, replyArr)
  {
    var tempReplyArr = $("[data-priornode-id="+oid+"]");
    // console.log(tempReplyArr)
    if (tempReplyArr.length > 0)
    {
      tempReplyArr.each(function(){
        var tempId = $(this).attr("data-reply-id")
        // console.log(replyArr);
        replyArr.push(tempId);
        getChildReplies(tempId, replyArr);
      })
    }
    return replyArr;
  }
  // --- END of discussion code ----
</script>

<!--  ***************************End -->



